# Python
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
.env
.venv
venv/
env/
# Jupyter
.ipynb_checkpoints
# IDEs
.vscode/
.idea/
# mac
.DS_Store
# PyTorch/artifacts
artifacts/
*.pth
*.pt
# Logs
*.log
# Wheels
*.whl
